#nav ul {
    
    list-style: none;
}

#nav ul li {
    display: inline-block;
    margin-right: .5em;
}

#nav ul li a {
    padding: 0.25em 1em;
    text-decoration: none;
    background-color: #EBF5FF; 
    color: #4312AE; 
    border: 2px solid black;

  }